{% load static %}

<!DOCTYPE html>

<html>

    <head>

        <title>{{ product.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'catalog/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'catalog/mycss.css' %}"/>

    </head>

    <body>

        <div class="container cont-details">
        
            <h1>The {{ product.name }} box</h1>
        
            <p>This box is for <strong> {{ product.nb_of_persons }} persons</strong>, and it will cover <strong>{{ product.nb_of_meals }} meals</strong></p>
            <p><em>{{ product.description }}</em></p>
        
        </div>

    </body>

</html>